.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/MI3052.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
Project_GDA_Pape/src/algorithms/__pycache__/gd.cpython-313.pyc
Project_GDA_Pape/src/problems/__pycache__/math_example1.cpython-313.pyc
Project_GDA_Pape/src/problems/__pycache__/math_example3.cpython-313.pyc
Project_GDA_Pape/src/algorithms/__pycache__/__init__.cpython-313.pyc
